@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1, h2 {
  font-family: var(--font-mono);
  letter-spacing: -0.01em;
}

pre, code, kbd, samp {
  font-family: var(--font-mono);
}
